html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .5rem;
  margin: 3rem 0;
  z-index: 1
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .5rem;
  margin-bottom: 3rem;
}


/* NAV BAR (starts here)*/


nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(36, 89, 122, 0.93);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all .25s linear
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  letter-spacing:0.25rem;
  font-weight: 400
}

ul {
  list-style: none
}

#logo-menu {
  max-width: 250px;
}

.nav-bar {
  display: flex;
}

.nav-bar li {
  margin: 0 2rem
}

.nav-bar a {
  transition: all .2s linear;
}

.nav-bar a:hover {
  color: rgb(199, 199, 199);  
}

.nav-bar a:active {
  color: rgb(0, 0, 0);
    
}

.icon {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 4px 8px;
  display: none;
}

.nav-mobile {
  display: none
}



/* NAV BAR (ends here)*/



.hero {
  width: 100%;
  height: 100vh;
  background-image: url(/media/images/slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-outer-wrapper{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.section-divider {
  width: 100%;
  height: 70px;
  background-color: rgb(18, 45, 24);
  position: absolute;
  bottom: 0px
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/media/images/slider_4.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden
}

.inner-container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8rem;
  margin: 0% 15%;
}
.inner-container-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  margin: 0% 15%;
}

.inner-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.text-background{
background-color:#e0fff9db;
box-shadow: 0 0 5px #e0fff9;
margin: 50px 0;
border-radius: 50px;
}

.bio-text {
  font-size: 1.3rem;
  letter-spacing: .2rem;
  line-height: 2rem;
  z-index: 1;
}

.bio-main{
  max-width: 700px;
  margin-bottom: 5rem;
}

.bio-nancy {
  margin-left: 8rem
}

#logo {
  position: absolute;
  top: 40%;
  border-radius: 30px;
  box-shadow: 0px 0px 100px #ffffff ;
}

.bio-image{
  max-width: 25em;
  border-radius: 50%;
}

.bio-nancy {
  margin-left: 0;
}

container-annemie {
  flex-direction: column
}

.text-white {
  color: white;
}

.bio-individual {
  
  
  background-image: url(/media/images/slider_5.jpg);
  background-size: cover;
  
}

.background-ovelay {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 6rem 0;
  background-color: rgba(255, 255, 255, 0.899)
}


/* FOOTER SECTION */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 23, 14);
  color: white;
  padding-bottom: 60px
}

.btn-whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  background-color: green;
  padding: 20px 30px;
  margin: 30px 0;
  border-radius: 10px
}

.footer-text {
  font-size: 1.4rem;
  letter-spacing: .2rem;
  line-height: 2rem;
  z-index: 1;
}

#social-media-container{
  margin-top: 2rem;
  display: flex;
  gap: 25px;
}

.social-media-icon {
max-width: 50px;
border-radius: 30%;
}


/* -----------------
------CAROUSEL------
--------------------
---STARTS---HERE---*/

.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 560px;
  position: relative;
}

.carousel {
  width: 700px;
  height: 560px;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slides{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  z-index: 0;
  width: 100%;
  transition: all .8s ease-in-out;
  }

.slides img {
  width: 700px
}

.controls{
  color: rgb(42, 42, 42);
  font-size: 50px;
  z-index: 1;
  cursor: pointer;
}

.control{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
  font-size: 50px;
	cursor: pointer;
	/* outline: inherit;
  font: inherit; */
}

.prev-slide{ 
  position: absolute;
  top: 45%;
  left: -15%;
  transition: all .2s linear;
}

.prev-slide:hover{
  color: rgb(31, 99, 44)
}
.prev-slide:active{
  color: rgb(41, 161, 63)
}

.next-slide{
  position: absolute;
  top: 45%;
  right: -15%;
  transition: all .2s linear;
}

.next-slide:hover{
  color: rgb(31, 99, 44)
}

.next-slide:active{
  color: rgb(41, 161, 63)
}


/* -----------------
------CAROUSEL------
--------------------
---ENDS---HERE---*/



                        /* MOBILE */

@media screen and (max-width: 425px) {


  h2 {
    text-align: center;
    
  }
  h3 {
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: .1rem;
  }

 

.nav-bar {
  display: none;
}
.nav-mobile  {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 60px;
  left: 0px;
  background-color: rgba(36, 89, 122, 0.93);
  width: 100%;
  padding: 30px 30px;
  transition: all .2s linear
}
.icon
{
  display: block;
  margin-right: 15px;
}
  

.inner-container-row {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    margin: 0% 10%;
  }

.inner-container-row-reverse {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  margin: 0% 10%;
}


.bio-image{
    max-width: 15em;
  }

  .bio-text {
    font-size: 1.15rem;
    letter-spacing: .1rem;
    line-height: 1.8rem;
    z-index: 1;
  }

.footer-text{
  text-align: center;
  font-size: 1rem
}

.text-background{
 
  margin: 30px 20px;
  border-radius: 50px;
  }

}

